<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Genres</title>
  </head>
  <body>
    <h1>Genre List:</h1>
    <br>
    <% @genres.each do |genre| %>
      <a href="/genres/<%= genre.slug %>"><%= genre.name %></a><br>
    <% end %>
  </body>
</html>
